/*===========  公共样式 ============*/
*{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
/*  设置最小宽度以及最小高度 是 1024*768  */
html,body{
    min-width: 1024px;
    height:100%;
    /*border:1px solid silver;*/
    overflow: hidden;
}
/*.body-height{*/
    /*!*height:549px;*!*/
    /*height:100%;*/
   /**/
/*}*/

.ztree *{
    font-size: 16px;
    font-family:"Helvetica Neue",Helvetica,Arial,"微软雅黑","宋体","黑体",sans-serif;
}
.ztree li a{
    height:20px;
}

/*------ 按钮 -----*/
.btn-center{
    text-align: center;
}

.btn{
    display:inline-block;
    *zoom:1;
    padding:4px 12px;
    margin-bottom:0;
    font-size:16px;
    line-height:20px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn:hover{
    background-color: #0B43E9;
    transform: scale(1.05);
}
.btn,.btn-primary{
    -webkit-border-radius:2px;
    -moz-border-radius:2px;border-radius:2px;
}
.btn-primary{
    margin-left: 20px;
    border:1px;
    height:25px;
    font-size: 17px;
    font-weight: bolder;
    color:white;
    background-color: #0063CC;
}

/* 背景色 */
.bg-color-blue{
    background-color: blue;
}
.bg-color-black{
    background-color: black;
}
.bg-color-yellow{
    background-color: yellow;
}
.bg-color-red{
    background-color: red;
}
/* 字体颜色 */
.text-red{
    color:red;
}
.text-white{
    color:white;
}
.text-black{
    color:black;
}
.text-blue{
    color:blue;
}
/*超出文本省略号代替*/
.overflow-ellipsis{
    display:inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    vertical-align:middle
}
/* ------------表格  start------------- */
.table-grid{
    width:100%;
}
.table{
    width:100%;
    border-collapse:collapse;
    margin-bottom: 0;
}
.table th,.table td{
    border:1px solid silver;
    line-height: 20px;
    padding: 5px;
    vertical-align:middle;
}

/*------------  input框设置  ----------*/
input{
    display: inline-block;
    margin-bottom: 0;
    vertical-align:middle;
    height:24px;
    line-height:20px;
    padding: 2px 3px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: none;
    border:1px solid #ccc;
    font-size: 16px;
}

label,input,select,textarea,button{
    font-size: 16px;
    font-weight: normal;
    line-height:20px;
}
/* ------------表单  start------------- */
.form-item .control-group{
    display: inline-block;
    vertical-align: middle;
    margin-bottom:4px;
    position: relative;
}
.form-item .controls{
    margin-left:110px;
}
.form-item .control-label{
    float:left;
    text-align: right;
    padding-top: 5px;
    width:106px;
    height:22px;
    overflow:hidden;
}

.form-item .controls .radio,
.form-item .controls .checkbox{
    padding-top:4px;
}
/*基本属性*/
.form-item .label-five .control-label{width:90px;}
.form-item .label-five .controls{margin-left:94px;}
.form-item .label-four .control-label{width:76px;}
.form-item .label-four .controls{margin-left:80px;}
.form-item .label-three .control-label{width:60px;}
.form-item .label-three .controls{margin-left:64px;}
.form-item .label-two .control-label{width:44px;}
.form-item .label-two .controls{margin-left:48px;}
.badge{border-radius:2px;}
/*  input框  与 文字显示 span */
.input-small{width:70px}
.input-medium{width:130px}
.input-large{width:260px}
.sp-medium{
    display: inline-block;
    height:30px;
    line-height: 30px;
    padding-left:2px;
    overflow:hidden;
    vertical-align: middle;
    font-weight: bold;
    width:160px;
}
/* -------------------------  表格  start---------------------- */
/*表头固定*/
.table-grid .table.table-th{border-bottom:none;}
/*表头背景色*/
.table th{
    background:-webkit-linear-gradient(bottom,#eee,#f9f9f9);
    background:-ms-linear-gradient(bottom,#eee,#f9f9f9);
    background:linear-gradient(bottom,#eee,#f9f9f9);
    background-color:transparent;
    text-align:center;
}
.table-border{
    border:1px solid silver;
    border-left:0;
    border-radius: 0;
}

/*  /* table 内容样式设置  隔行变色选中颜色*/
.table-striped tbody > tr:nth-child(even){
     background-color:#F9F4F7;
}
.table-striped tbody>tr.bg-selected-color>td{background-color:#7fc3ff;}

.table-grid .table-body{
    border:1px solid #cccccc;
    overflow-y:scroll;
    background-color:#FFF;
    border-top:none;
    margin-top:-1px;
    border-left:none;
}
.table-grid .table-body .table-bordered.table .td-first-border{border-left:none;}
.table-grid .table-body .table-striped tbody>tr.bg-selected-color>td{background-color:#7fc3ff;}
/*.table-grid .table-body .table td:first-child{border-left:none}*/
.check-width{width: 30px;}
.table-hover tbody tr:hover td{
    background-color: #cccccc;
}
/* --------------------------   表格  end  -------------------- */

/*  modal--样式 */
.modal h1,h2,h3,h4,h5,h6{
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
}
/* modal 打开时遮挡层样式 */
.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000000;}
.modal-backdrop.fade{opacity:0;}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.8;filter:alpha(opacity=80);}

.modal{position:fixed;top:10%;left:50%;z-index:1050;width:560px;margin-left:-280px;background-color:#ffffff;border:1px solid #999;border:1px solid rgba(0, 0, 0, 0.3);*border:1px solid #999;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);-webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box;outline:none;}.modal.fade{top:-25%;}
.modal.fade.in{top:10%;}
.modal-header{padding:9px 15px;border-bottom:1px solid #eee;}
.modal-header .close{margin-top:2px;}
.modal-header h3{margin:0;}
.modal-body{position:relative;overflow-y:auto;max-height:400px;padding:15px;}
.modal-form{margin-bottom:0;}
.modal-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;*zoom:1;}.modal-footer:before,.modal-footer:after{display:table;content:"";line-height:0;}
.modal-footer:after{clear:both;}
.modal-footer .btn+.btn{margin-left:5px;margin-bottom:0;}
.modal-footer .btn-group .btn+.btn{margin-left:-1px;}
.modal-footer .btn-block+.btn-block{margin-left:0;}
button.close{
    background: transparent;
    cursor:pointer;
    border:none;
}

/*模态框样式*/
.modal{
    /*posi2tion:absolute; 与heren-v1.css定位重复,暂时隐藏掉，解决modal可拖出屏幕的情况*/
    left:0;
    right:0;
    top:6%;
    /*transform:translate(-50%, -50%);*/
    /*-webkit-transform:translate(-50%, -50%);*/
    margin:0 auto;
    width:80%;
    border:4px solid #2f94e1;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
}
.modal.fade.in{top:6%;}
.modal.modal-top.fade.in{top:20%;}
.modal-header{height:20px;padding:4px 12px;cursor:move;background-color:#2f94e1;}
.modal-header h5{color:#ffffff;margin:0;}
h5{
    font-size: 16px;
}
.modal-body{padding:0;max-height:750px;overflow-y:hidden;background-color: #ffffff;}
.modal-footer{padding:5px 15px 5px;}
.modal-backdrop,.modal-backdrop.fade.in{opacity:0.2;}
.close{
    float:right;
    opacity:1;
    text-shadow:none;
    margin:5px 8px;
    color:#ffffff;
    font-size:30px;
    font-weight:normal;
}
.close:hover,.close:focus{color:#FFC40D;opacity:1}
.modal-header .close{margin-right:-5px;margin-top:0;}


/*外边距*/
.margin5{margin:5px;}
.margin-top5{margin-top:5px;}
.margin-left5{margin-left:5px;}
.margin-bottom5{margin-bottom:5px}
.margin-right5{margin-right:5px;}
.margin-left-5{margin-left:-5px;}
.mg0-5{margin:0 5px;}
.mg5-auto{margin:5px auto;}
.mg5505{margin:5px 5px 0 5px;}

.margin-left8{
    margin-left: 8px;
}
.margin-top10{margin-top:10px;}
.margin-top15{margin-top:15px;}
.margin-left10{margin-left:10px;}
.margin-left15{margin-left:15px;}
.margin-left30{margin-left:30px;}

/*内边距*/
.padding5{padding: 5px!important;}

/* 边框 */
.border-line{
    border:1px solid silver;
}

/*  ------------------  标题 头部显示  公共样式 start----------------- */
.my-title{
    background-color: darkseagreen;
    height:35px;
    line-height:33px;
    padding-left: 10px;
}
.my-child-title{
    border:1px solid lightsteelblue;
    background-color: lightsteelblue;
    height:30px;
    font-size: 20px;
    padding-left: 10px;
    line-height:28px;
}

/*  ------------------  标题 头部显示  公共样式 end----------------- */


/*  ------------------  页面布局  公共样式 start----------------- */
/*1、左右布局 样式*/
.main-content{
    display: flex;
    height:100%;
}
.main-content .main-left{
    flex:1;
    height:100%;
}
.main-content .main-right{
    flex:3;
    height:100%;
}
/* 2、页面底部按钮区域设置 */
.content-footer{
    position:fixed;
    width:100%;
    height:46px;
    line-height:45px;
    bottom:0px;
    left:0px;
    z-index: 5;
    background-color: #eef5fa;
}


/*  ------------------  页面布局  公共样式 end----------------- */

/*  三角形 警告样式 */
.alert-triangle-up{
    width:0;
    height:0;
    border-left:20px solid rgba(0,0,0,0);
    border-right:20px solid rgba(0,0,0,0);
    border-bottom: 40px solid #ffa200;
    vertical-align:middle;
    display: inline-block;
    margin-left: 14px;
}
.alert-font span{
    font-size: 30px;
    font-weight: bold;
    position: absolute;
}
.alert-triangle-up span{
    color:#000000;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    margin: 9px -6px;
}