<div>
    <ul class="pagination">
        <li ng-click="changedPageFun('firstPage')"><a href="javascript:void(0);">首页</a></li>
        <li ng-repeat="pageNum in options.pageNumList" ng-click="changedPageFun(pageNum)">
            <a href="javascript:void(0);">{{pageNum}}</a>
        </li>
        <li ng-click="changedPageFun('lastPage')"><a href="javascript:void(0);">尾页</a></li>
        <li ng-click="lastPageFun()">
            <a href="">
                每页显示
                <select ng-model="options.pageSize"
                         ng-change="selectedPageFun(options.pageSize)">
                    <option ng-repeat="page in options.pageList">
                        {{page}}
                    </option>
                </select>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                共 <span>{{options.total}}</span>条数据
            </a>
        </li>
    </ul>

</div>